/*This file is for your custom css.  All yours*/
h1 {
  font-family: 'Lato', sans-serif;
  color: #0080ff;
  text-align: center;
  font-size: 350%;
  display: block;;
}

.contact-icons {
  color: #0080ff;
}

/*.pineapple {
  width: 5%;
  float:left;
}*/


.square {
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  background-color:#1E1E1E;
  overflow:hidden;
}

.content {
  position:absolute;
  height:90%; /* = 100% - 2*5% padding */
  width:90%; /* = 100% - 2*5% padding */
  padding: 5%;

}
.table{
  display:table;
  width:100%;
  height:100%;
}
.table-cell{
  display:table-cell;
  vertical-align:middle;
}

.content .rs{
  width:auto;
  height:auto;
  max-height:90%;
  max-width:100%;
}
/*  For responsive images as background */

.bg{
  background-position:center center;
  background-repeat:no-repeat;
  background-size: contain;
  color:#FAFAFA;
}

.img1{
  background-image: url('../img/candlelight_screenshot.png');
}
.img2{
    background-image: url('../img/marinamura.png');
}
.img3{
    background-image: url('../img/meglish.png');
}

.img4 {
  background-image: url('../img/whatisit.png');
}

.img5{
  background-image: url('../img/meal_tracker_app.png');
}

.img6{
  background-image: url('../img/dopemessage.png');
}

/*  following just for the demo */


body {
  font-size:20px;
  font-family: 'Lato',verdana, sans-serif;
  color: #FAFAFA;
  text-align:center;
  background:#FAFAFA;
}

.footer {
  padding-top: 50px;
  margin-bottom: 20px;
}

.nav-bar {
  background: #FAFAFA;
}
p{
  margin:0;
  padding:0;
  text-align:left;
}

.pic{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
 }
 .pic:hover {
   opacity: 0.3;
   filter: alpha(opacity=30);
 }
